<h1>Hi, {{name}}</h1>
<br>
<h3>Possible actions : </h3>
<form>
    <button type="submit" action="">Show All Devices</button>
    <button type="submit" action="">Show All Locations</button>
    
    <div id="cust" data-value1={{cust_id}}></div>
    <div id="service_location_container">
        <br>
        <label for="service_location">Choose Service Location:</label>
        <select id="service_location" name="service_location">
        </select>
    </div>
    <br>
    <div id="device_container">
        <label for="device">Choose Device:</label>
        <select id="device" name="device">
        <option disabled selected>Select Location First</option>
        </select>
    </div>
    <br>
    
    <button type="submit" action="">Add Device with provided Location</button>
    <br><br>
    <button type="submit" action="">Show All Locations owned by {{name}}</button>
    <br><br>
    <button type="submit" action="">Show All Devices owned by {{name}}</button>

</form>
  

  <script>
    var loc = "";
    function updateLocation(cust_id) {
      
      fetch('/user/'+cust_id+'/locations', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
        // body: JSON.stringify({ "cust_id": cust_id })
      })
        .then(response => response.json())
        .then(data => {
          // Clear and populate the device select element
        //   console.log("in func with response : ", data);
          const locationSelect = document.getElementById('service_location');
          locationSelect.innerHTML = '';
          data.forEach(location => {
            const option = document.createElement('option');
            option.value = location.loc_id;
            option.textContent = location.Address;
            // option.selected="selected";
            locationSelect.appendChild(option);
          });
        //   locationSelect.disabled = false;

        });
    }
    const custum = document.getElementById('cust')
    const cid = custum.dataset.value1;
    const locationSelect = document.getElementById('service_location');
    locationSelect.addEventListener('mouseover', function() {
        // console.log("going in func with ", cid)
        value = locationSelect.selectedIndex;
        console.log("new func ", cid, value);
        updateLocation(cid);
    });

    function updateDevices(cust_id, loc_id) {
      // Send an AJAX request to Flask to get devices for the selected location
      fetch('/user/'+cust_id+'/locations/'+loc_id+'/devices', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
        // body: JSON.stringify({ "cust_id": cust_id })
      })
        .then(response => response.json())
        .then(data => {
          // Clear and populate the device select element
          console.log("in func with response : ", data);
          const deviceSelect = document.getElementById('device');
          deviceSelect.innerHTML = '';
          data.forEach(device => {
            const option = document.createElement('option');
            option.value = device.dev_id;
            option.textContent = device.model_name;
            
            deviceSelect.appendChild(option);
          });
          deviceSelect.disabled = false;
        });
    }

    var e = document.getElementById("service_location");
    var value = "";
    if (e.selectedIndex > -1){
        console.log("sel ind ", e.selectedIndex)
        value = e.options[e.selectedIndex].value;
    }
    
    // var selectedOption = select.options[select.selectedIndex];
    console.log("user chose : ", value);
    const DeviceSelect = document.getElementById('device');
    DeviceSelect.addEventListener('mouseover', function() {
        value = e.options[e.selectedIndex].value;
        e = 
        console.log("new func ", cid, value);
        updateDevices(cid,value);
    });

  </script>
  